@import url('https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro');

/*********************
BREAKPOINTS
*********************/
@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 499px) {
            @content;
        }
    }



    @else if $point == tablet2 {
        @media (min-width: 847px) {
            @content;
        }
    }



    @else if $point == desktop {
        @media (min-width: 1020px) {
            @content;
        }
    }



    @else if $point == full {
        @media (min-width: 1300px) {
            @content;
        }
    }



    @else if $point == tablet {
        @media (min-width: 499px) {
            @content;
        }
    }
}

$herob: #17BEBB;

$offwhite: #f4f4f4;
$offblack: #242424;

/**pal ***/
$red: #3DBDCC;
$white: #fefdfa;
$lightblue: #a9c5cc;
$darkblue: #2b4f69;
$dark: #102438;
$purple: rgb(59, 62, 248);
$red2: #1Dbfca;

$darkpurple: #44318d;
$lightmistake: #E98074;
$pinkish: #D83f87;
$purplish: #42A679;

$blue1: #5ab9ea;


$desktoppadding: 15px;



html, body {
    box-sizing: border-box;
    font-family: 'open sans';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: $white;
}

.navx {
    display: none;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin: 3rem auto;
    padding: 0;

    li {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
    }
}
.shadow {
    box-shadow: 0 11px 28px rgba(0, 0, 0, .3);
}

.herobg {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0); 
    height: 100vh;
    width: 100%;
    background: $herob;
    position: absolute;
    z-index: -1;
}

nav {
    position: fixed;
    background: $herob;
    top: 0;
    width: 100%;
    
    z-index: 2;
    padding: 1rem 10% 1rem 10%;
    transition: all ease 1s;

    @include breakpoint(tablet) {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .menu {
        color: $herob;
        font-size: 2.5rem;
        @include breakpoint(tablet) {
            display: none;
        }

        
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include breakpoint(tablet) {
            display: inline-block;
            width: fit-content;
        }
    }

    .logo {
        font-weight: bold;
        font-size: 1.8rem;
        font-family: 'cantarell';
        text-transform: uppercase;
        color: $offblack;
    }
    
    ul {
        list-style-type: none;
        display: none;

        @include breakpoint(tablet) {
            display: inline-block;
            padding: 0;
            
        
        }

    }

    li {
        display: inline-block;
        margin: 0 auto;

        @include breakpoint(tablet) {
            margin-left: 1rem;
        }
    }

    a {
        text-decoration: none;
        color: $offwhite;
        
    }
}

header {
    padding-top: 5rem;
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    .apartment {


        @include breakpoint(desktop) {
            display: flex;
            flex: 1;
            justify-content: space-between;

            
        }
        .hidem {
            display: none;

            @include breakpoint(desktop) {
                display: inline-block;
            }
            
            
        }
    }

    img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 100%;
        object-fit: cover;

        @include breakpoint(desktop) {
            display: inline-block;
            width: 30%;
        }
    }

    .standout {
        background: $white;
        border-radius: 10px;
        padding: 14px;
        margin-top: 10%;
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);

        @include breakpoint(tablet) {
            width: 50%;
            margin: 5% auto 0 auto;
        }

        p {
            margin: 0;
        }
    }
    
    h2 {
        text-align: center;
        color: $white;

        @include breakpoint(tablet) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .acc {
            color: $offblack;
        }
    }

    p {
        text-align: center;
    }
}





main {
    
    
}

/*********** Location ****************************/////////////////////////

.location {
    
    .flex2 {

        @include breakpoint(tablet2) {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            width: 90%;
            margin: 0 auto;

            
        }
        aside {
            @include breakpoint(tablet2) {
                width: 40%;
                margin: 2rem auto 2rem auto;
                border-radius: 10px;
                background: $white;
                box-shadow: 0 10px 28px rgba(0, 0, 0, .3);

            }
        }
    }

    .where {
        position: relative;
        background: transparent;

        @include breakpoint(tablet2) {
            width: 60%;
            border-radius: 10px;
            background: $white;
            margin: 4rem auto 2rem auto;
            
            box-shadow: 0 10px 28px rgba(0, 0, 0, .3);

        }
        
        p {
            
            
            z-index: 2;
            opacity: 1;
            padding-bottom: 1rem;
            
            
        
        }
    }

    .wherebg {
        background: $blue1;
        opacity: .4;
        clip-path: polygon(0 0, 0% 100%, 62% 100%);
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100vw;

        @include breakpoint(tablet2) {
            display: none;
        }

    }
    aside {
        
        /* background: rgba(66, 166, 121, 0.466); */
        background: #5abaea69;

        
        
        h3 {
            text-align: center;
            color: #130c06;
            font-size: 1.5rem;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: .5rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 10px 30px 10px;
        }
    }

    .map {
        min-height: 30vh;

        @include breakpoint(tablet) {
            height: 40vh;
        }
    }
}

.hamOpen {
    display: none;
}

.menuOpen {
    display: block;
    
    
    z-index: 3;
}


/***************** DAILY LIFE ******************/

.dailyLife {

    background: linear-gradient(#f9f9f9, #f2f2f2);
    margin-top: 3rem;
    article {
        
        box-shadow: 0 10px 28px rgba(0, 0, 0, .3);

        h2 {
            text-align: center;
            text-transform: uppercase;
            padding-top: 3rem;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 1rem;
            font-size: 2rem;
            color: $dark;
        }

        p {
            padding: 0 10px 35px 10px;

        }

        @include breakpoint(tablet2) {
            width: 100%;
            margin: 0 auto;
            box-shadow: none;
            
            p {
                width: 60%;
                margin: 0 auto;
            }
        }

        div {

            @include breakpoint(tablet2) {
                background: blue;
                
            }
        }
    }

    .flex3 {
        
        @include breakpoint(tablet2) {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

    }

    aside {
        
        
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);
        margin: 2rem auto 2rem auto;
        border-radius: 10px;
        background: $white;

        h3 {
            text-align: center;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            color: $purple;
        }

        p {
            padding: 0px 10px 10px 10px;
        }


        @include breakpoint(tablet2) {
            width: 40%;
            margin-bottom: 2rem;
        }

        @include breakpoint(desktop) {
            width: 32%;
        }
    }
}


