@import url('https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro');


@mixin sectiontitle {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
    text-transform: uppercase;
    margin: 0 auto;
}

@mixin titleparagraph {
    padding: 0 10px 35px 10px;
    margin: 0 auto;
}
/*********************
BREAKPOINTS
*********************/
@mixin breakpoint($point) {
    @if $point == tablet {
        @media (min-width: 499px) {
            @content;
        }
    }



    @else if $point == tablet2 {
        @media (min-width: 847px) {
            @content;
        }
    }



    @else if $point == desktop {
        @media (min-width: 1020px) {
            @content;
        }
    }



    @else if $point == full {
        @media (min-width: 1300px) {
            @content;
        }
    }



    @else if $point == large {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

$herob: #376dd1;

$offwhite: #f4f4f4;
$offblack: #242424;

/**pal ***/
$red: #3DBDCC;
$white: #fefdfa;
$lightblue: #a9c5cc;
$darkblue: #2b4f69;
$dark: #102438;
$purple: rgb(59, 62, 248);
$red2: #D55534;

$darkpurple: #44318d;
$lightmistake: #E98074;
$pinkish: #D83f87;
$purplish: #42A679;

$blue1: #5ab9ea;
$redish: #eeea0e;


$desktoppadding: 15px;



html, body {
    box-sizing: border-box;
    font-family: 'open sans';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: $white;
}

.navx {
    display: none;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin: 3rem auto;
    padding: 0;

    li {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
    }
}
.shadow {
    box-shadow: 0 11px 28px rgba(0, 0, 0, .3);
}

.herobg {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0); 
    height: 100vh;
    width: 100%;
    background: $herob;
    position: absolute;
    z-index: -1;
}

nav {
    position: sticky;
    background: $herob;
    top: 0;
    width: 100%;
    
    z-index: 2;
    padding: 1rem 10% 1rem 10%;
    transition: all ease 1s;

    @include breakpoint(tablet2) {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .menu {
        color: $herob;
        font-size: 2.5rem;
        @include breakpoint(tablet2) {
            display: none;
        }

        
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include breakpoint(tablet2) {
            display: inline-block;
            width: fit-content;
        }
    }

    .logo {
        font-weight: bold;
        font-size: 1.8rem;
        font-family: 'cantarell';
        text-transform: uppercase;
        color: $redish;
    }
    
    ul {
        list-style-type: none;
        display: none;

        @include breakpoint(tablet2) {
            display: inline-block;
            padding: 0;
            
        
        }

    }

    li {
        display: inline-block;
        margin: 0 auto;

        @include breakpoint(tablet2) {
            margin-left: 1rem;
        }
    }

    a {
        text-decoration: none;
        color: $white;
    }

    
}

header {
    padding-top: 0;
    width: 80%;
    height: 90vh;
    margin: 0 auto;

    .apartment {


        @include breakpoint(desktop) {
            display: flex;
            flex: 1;
            justify-content: space-between;

            
        }
        .hidem {
            display: none;

            @include breakpoint(desktop) {
                display: inline-block;
            }
            
            
        }
    }

    img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 100%;
        object-fit: cover;

        @include breakpoint(desktop) {
            display: inline-block;
            width: 30%;
        }
    }

    .standout {
        background: $white;
        border-radius: 10px;
        padding: 14px;
        margin-top: 10%;
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);

        @include breakpoint(tablet) {
            width: 50%;
            margin: 5% auto 0 auto;
        }

        p {
            margin: 0;
        }
    }
    
    h2 {
        text-align: center;
        color: $white;

        @include breakpoint(tablet) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        @include breakpoint(full) {
            font-size: 3rem;
        }
        .acc {
            color: $redish;
        }
    }

    p {
        text-align: center;
    }
}





.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -90px;
}

/*********** Location ****************************/////////////////////////

.location {
    
    .flex2 {

        @include breakpoint(tablet2) {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            width: 90%;
            margin: 0 auto;

            
        }
        aside {
            @include breakpoint(tablet2) {
                width: 40%;
                margin: 2rem auto 2rem auto;
                border-radius: 10px;
                background: $white;
                box-shadow: 0 10px 28px rgba(0, 0, 0, .3);

            }
        }
    }

    .where {
        position: relative;
        background: transparent;

        h2 {
            @include sectiontitle;
        }

        @include breakpoint(tablet2) {
            width: 60%;
            border-radius: 10px;
            background: $white;
            margin: 0 auto;
            
            

        }
        
        p {
            @include titleparagraph;
        }
    }

   
    }
    aside {
        
        /* background: rgba(66, 166, 121, 0.466); */
        background: $white;
        box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
        margin: 2rem auto 2rem auto;
        border-radius: 10px;
        background: #fefdfa;

        @include breakpoint(tablet) {
            width: 80%;
            
        }

        
        
        h3 {
            text-align: center;
            color: $red2;
            font-size: 1.5rem;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: .5rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 10px 30px 10px;
        }
    }

    .map {
        min-height: 30vh;

        @include breakpoint(tablet) {
            height: 40vh;
        }

        @include breakpoint(large) {
            width: 80%;
            height: 50vh;
            margin: 0 auto;
        }
    }


.hamOpen {
    display: none;
}

.menuOpen {
    display: block;
    
    
    z-index: 3;
}


/***************** DAILY LIFE ******************/

.dailyLife {

    background: linear-gradient(#f9f9f9, #f2f2f2);
    margin-top: 3rem;

    .living {
    
    }
    article {
        
        

        h2 {
            @include sectiontitle;
        }

        p {
            @include titleparagraph;

        }

        @include breakpoint(tablet2) {
            width: 100%;
            margin: 0 auto;
            box-shadow: none;
            
            p {
                width: 60%;
                margin: 0 auto;
            }
        }

        div {

            @include breakpoint(tablet2) {
                background: blue;
                
            }
        }
    }

    .flex3 {
        
        @include breakpoint(tablet2) {
            display: flex;
            flex: 1;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

    }

    aside {
        
        
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);
        margin: 2rem auto 2rem auto;
        border-radius: 10px;
        background: $white;

        h3 {
            text-align: center;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            color: $purple;
        }

        p {
            padding: 0px 10px 10px 10px;
        }


        @include breakpoint(tablet2) {
            width: 40%;
            margin-bottom: 2rem;
        }

        @include breakpoint(desktop) {
            width: 32%;
        }
    }
}


/********************* PHOTOS *****************************/

.photos {
    margin: 0 auto;
    text-align: center;

    

    .hidefull {
        height: 40vh;
        width: 100%;
        background-image: url(/IMG/image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(tablet) {
            display: none;
        }

        a {
            text-decoration: none;
            color: $white;
            
        }

       
        
        h3 {
            color: $white;
            font-size: 2rem;
            position: relative;
            top: 50%;
            bottom: 50%;
        }
       
    
    }

    h2 {
        @include sectiontitle;
    }
}


/************ CSS BOX ****************************/
/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
   #photos > div {
    
    flex: 1 1 200px;

  }

  #photos {
    display: flex;
    
    flex: 1;
    flex-wrap: wrap;

  }

  
  

  .cssbox_thumb  {
      width: 100%;
      max-width: 400px;
      height: 100%;
      object-fit: cover;
  }
  span.cssbox_full {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s linear;
    
  }
  
  span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
  }
  
  a.cssbox_close,
  a.cssbox_prev,
  a.cssbox_next {
    z-index: 999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
  }
  
  a.cssbox_close {
    top: 1%;
    right: 1%
  }
  
  a.cssbox_close::after {
    content: '\00d7';
  }
  
  a.cssbox_prev,
  a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  a.cssbox_prev {
    left: 5%;
  }
  
  a.cssbox_next {
    right: 5%;
  }
  
  a:target ~ a.cssbox_close,
  a:target ~ a.cssbox_prev,
  a:target ~ a.cssbox_next {
    visibility: visible;
  }
  
  a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
  
  span.cssbox_full {
    cursor: initial;
  }
  /* This is the end of CSSBox */
  

  /***************** PRICES ********************/



.price {

    h2 {
        @include sectiontitle;
    }
}