@import url("https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro");
/*********************
BREAKPOINTS
*********************/
/**pal ***/
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'open sans';
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #fefdfa;
}

.navx {
  display: none;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3rem auto;
  padding: 0;
}

.mobileMenu li {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.shadow {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

.herobg {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
  height: 100vh;
  width: 100%;
  background: #376dd1;
  position: absolute;
  z-index: -1;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  background: #376dd1;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 10% 1rem 10%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (min-width: 847px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .menu {
  color: #376dd1;
  font-size: 2.5rem;
}

@media (min-width: 847px) {
  nav .menu {
    display: none;
  }
}

nav .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 847px) {
  nav .flex {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

nav .logo {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'cantarell';
  text-transform: uppercase;
  color: #eeea0e;
}

nav ul {
  list-style-type: none;
  display: none;
}

@media (min-width: 847px) {
  nav ul {
    display: inline-block;
    padding: 0;
  }
}

nav li {
  display: inline-block;
  margin: 0 auto;
}

@media (min-width: 847px) {
  nav li {
    margin-left: 1rem;
  }
}

nav a {
  text-decoration: none;
  color: #fefdfa;
}

header {
  padding-top: 0;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

@media (min-width: 1020px) {
  header .apartment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .apartment .hidem {
  display: none;
}

@media (min-width: 1020px) {
  header .apartment .hidem {
    display: inline-block;
  }
}

header img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1020px) {
  header img {
    display: inline-block;
    width: 30%;
  }
}

header .standout {
  background: #fefdfa;
  border-radius: 10px;
  padding: 14px;
  margin-top: 10%;
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

@media (min-width: 499px) {
  header .standout {
    width: 50%;
    margin: 5% auto 0 auto;
  }
}

header .standout p {
  margin: 0;
}

header h2 {
  text-align: center;
  color: #fefdfa;
}

@media (min-width: 499px) {
  header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1300px) {
  header h2 {
    font-size: 3rem;
  }
}

header h2 .acc {
  color: #eeea0e;
}

header p {
  text-align: center;
}

.anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -90px;
}

/*********** Location ****************************/
@media (min-width: 847px) {
  .location .flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 847px) {
  .location .flex2 aside {
    width: 40%;
    margin: 2rem auto 2rem auto;
    border-radius: 10px;
    background: #fefdfa;
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
  }
}

.location .where {
  position: relative;
  background: transparent;
}

.location .where h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-transform: uppercase;
  margin: 0 auto;
}

@media (min-width: 847px) {
  .location .where {
    width: 60%;
    border-radius: 10px;
    background: #fefdfa;
    margin: 0 auto;
  }
}

.location .where p {
  padding: 0 10px 35px 10px;
  margin: 0 auto;
}

aside {
  /* background: rgba(66, 166, 121, 0.466); */
  background: #fefdfa;
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
  background: #fefdfa;
}

@media (min-width: 499px) {
  aside {
    width: 80%;
  }
}

aside h3 {
  text-align: center;
  color: #D55534;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

aside p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 30px 10px;
}

.map {
  min-height: 30vh;
}

@media (min-width: 499px) {
  .map {
    height: 40vh;
  }
}

@media (min-width: 1800px) {
  .map {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
  }
}

.hamOpen {
  display: none;
}

.menuOpen {
  display: block;
  z-index: 3;
}

/***************** DAILY LIFE ******************/
.dailyLife {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
  background: linear-gradient(#f9f9f9, #f2f2f2);
  margin-top: 3rem;
}

.dailyLife article h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.dailyLife article p {
  padding: 0 10px 35px 10px;
  margin: 0 auto;
}

@media (min-width: 847px) {
  .dailyLife article {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dailyLife article p {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 847px) {
  .dailyLife article div {
    background: blue;
  }
}

@media (min-width: 847px) {
  .dailyLife .flex3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
}

.dailyLife aside {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
  background: #fefdfa;
}

.dailyLife aside h3 {
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #3b3ef8;
}

.dailyLife aside p {
  padding: 0px 10px 10px 10px;
}

@media (min-width: 847px) {
  .dailyLife aside {
    width: 40%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1020px) {
  .dailyLife aside {
    width: 32%;
  }
}

/********************* PHOTOS *****************************/
.photos {
  margin: 0 auto;
  text-align: center;
}

.photos .hidefull {
  height: 40vh;
  width: 100%;
  background-image: url(/IMG/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 499px) {
  .photos .hidefull {
    display: none;
  }
}

.photos .hidefull a {
  text-decoration: none;
  color: #fefdfa;
}

.photos .hidefull h3 {
  color: #fefdfa;
  font-size: 2rem;
  position: relative;
  top: 50%;
  bottom: 50%;
}

.photos h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-transform: uppercase;
  margin: 0 auto;
}

/************ CSS BOX ****************************/
/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
#photos > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

#photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cssbox_thumb {
  width: 100%;
  max-width: 400px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

span.cssbox_full {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%;
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

span.cssbox_full {
  cursor: initial;
}

/* This is the end of CSSBox */
/***************** PRICES ********************/
.price h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-transform: uppercase;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */