@import url("https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro");
/**pal ***/
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'open sans';
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #fefdfa;
}

.navx {
  display: none;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3rem auto;
  padding: 0;
}

.mobileMenu li {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.shadow {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

.herobg {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
  height: 100vh;
  width: 100%;
  background: #17BEBB;
  position: absolute;
  z-index: -1;
}

nav {
  position: fixed;
  background: #17BEBB;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 10% 1rem 10%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

nav .menu {
  color: #17BEBB;
  font-size: 2.5rem;
}

nav .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .logo {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'cantarell';
  text-transform: uppercase;
  color: #242424;
}

nav ul {
  list-style-type: none;
  display: none;
}

nav li {
  display: block;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: #f4f4f4;
}

header {
  padding-top: 5rem;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

header img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .standout {
  background: #fefdfa;
  border-radius: 10px;
  padding: 14px;
  margin-top: 10%;
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

header .standout p {
  margin: 0;
}

header h2 {
  text-align: center;
  color: #fefdfa;
}

header h2 .acc {
  color: #242424;
}

header p {
  text-align: center;
}

/*********** Location ****************************/
.location .where {
  position: relative;
}

.location .where p {
  z-index: 2;
  opacity: 1;
  padding-bottom: 1rem;
}

.location .wherebg {
  background: #5ab9ea;
  opacity: .2;
  -webkit-clip-path: polygon(0 0, 0% 100%, 62% 100%);
          clip-path: polygon(0 0, 0% 100%, 62% 100%);
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.location aside {
  background: rgba(66, 166, 121, 0.466);
}

.location aside h3 {
  text-align: center;
  color: #130c06;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.location aside p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 30px 10px;
}

.location .map {
  min-height: 30vh;
}

.hamOpen {
  display: none;
}

.menuOpen {
  display: block;
  z-index: 3;
}

/***************** DAILY LIFE ******************/
.dailyLife {
  background: -webkit-gradient(linear, left top, left bottom, from(#fffff2), to(#f9f9f9));
  background: linear-gradient(#fffff2, #f9f9f9);
}

.dailyLife article {
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
}

.dailyLife article h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: #3b3ef8;
}

.dailyLife article p {
  padding: 0 10px 35px 10px;
}

.dailyLife aside {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

.dailyLife aside h3 {
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #3b3ef8;
}

.dailyLife aside p {
  padding: 0px 10px 10px 10px;
}
/*# sourceMappingURL=style.css.map */