@import url('https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro');


$herob: #17BEBB;

$offwhite: #f4f4f4;
$offblack: #242424;

/**pal ***/
$red: #3DBDCC;
$white: #fefdfa;
$lightblue: #a9c5cc;
$darkblue: #2b4f69;
$dark: #102438;
$purple: rgb(59, 62, 248);
$red2: #1Dbfca;

$darkpurple: #44318d;
$lightmistake: #E98074;
$pinkish: #D83f87;
$purplish: #42A679;

$blue1: #5ab9ea;



html, body {
    box-sizing: border-box;
    font-family: 'open sans';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: $white;
}

.navx {
    display: none;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin: 3rem auto;
    padding: 0;

    li {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
    }
}
.shadow {
    box-shadow: 0 11px 28px rgba(0, 0, 0, .3);
}

.herobg {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0); 
    height: 100vh;
    width: 100%;
    background: $herob;
    position: absolute;
    z-index: -1;
}

nav {
    position: fixed;
    background: $herob;
    top: 0;
    width: 100%;
    
    z-index: 2;
    padding: 1rem 10% 1rem 10%;
    transition: all ease 1s;

    .menu {
        color: $herob;
        font-size: 2.5rem;
        
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        font-weight: bold;
        font-size: 1.8rem;
        font-family: 'cantarell';
        text-transform: uppercase;
        color: $offblack;
    }
    
    ul {
        list-style-type: none;
        display: none;

    }

    li {
        display: block;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        color: $offwhite;
        
    }
}

header {
    padding-top: 5rem;
    width: 80%;
    height: 100vh;
    margin: 0 auto;

    img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }

    .standout {
        background: $white;
        border-radius: 10px;
        padding: 14px;
        margin-top: 10%;
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);

        p {
            margin: 0;
        }
    }
    
    h2 {
        text-align: center;
        color: $white;
        .acc {
            color: $offblack;
        }
    }

    p {
        text-align: center;
    }
}





main {
    
    
}

/*********** Location ****************************/////////////////////////

.location {
    

    .where {
        position: relative;

        
        p {
            
            
            z-index: 2;
            opacity: 1;
            padding-bottom: 1rem;
            
            
        
        }
    }

    .wherebg {
        background: $blue1;
        opacity: .2;
        clip-path: polygon(0 0, 0% 100%, 62% 100%);
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100vw;

    }
    aside {
        
        background: rgba(66, 166, 121, 0.466);
        
        h3 {
            text-align: center;
            color: #130c06;
            font-size: 1.5rem;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: .5rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 10px 30px 10px;
        }
    }

    .map {
        min-height: 30vh;
    }
}

.hamOpen {
    display: none;
}

.menuOpen {
    display: block;
    
    
    z-index: 3;
}


/***************** DAILY LIFE ******************/

.dailyLife {

    background: linear-gradient(#fffff2, #f9f9f9);
    article {
        
        box-shadow: 0 10px 28px rgba(0, 0, 0, .3);

        h2 {
            text-align: center;
            text-transform: uppercase;
            padding-top: 2rem;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2rem;
            color: $purple;
        }

        p {
            padding: 0 10px 35px 10px;
        }
    }

    aside {
        
        
        box-shadow: 0 11px 28px rgba(0, 0, 0, .3);

        h3 {
            text-align: center;
            padding-top: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            color: $purple;
        }

        p {
            padding: 0px 10px 10px 10px;
        }
    }
}


