@import url("https://fonts.googleapis.com/css?family=Cantarell|Catamaran|Merriweather|Open+Sans|Passion+One|Source+Code+Pro");
/*********************
BREAKPOINTS
*********************/
/**pal ***/
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'open sans';
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #fefdfa;
}

.navx {
  display: none;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3rem auto;
  padding: 0;
}

.mobileMenu li {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.shadow {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

.herobg {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 75%, 0 0);
  height: 100vh;
  width: 100%;
  background: #17BEBB;
  position: absolute;
  z-index: -1;
}

nav {
  position: fixed;
  background: #17BEBB;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 10% 1rem 10%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (min-width: 499px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .menu {
  color: #17BEBB;
  font-size: 2.5rem;
}

@media (min-width: 499px) {
  nav .menu {
    display: none;
  }
}

nav .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 499px) {
  nav .flex {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

nav .logo {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'cantarell';
  text-transform: uppercase;
  color: #242424;
}

nav ul {
  list-style-type: none;
  display: none;
}

@media (min-width: 499px) {
  nav ul {
    display: inline-block;
    padding: 0;
  }
}

nav li {
  display: inline-block;
  margin: 0 auto;
}

@media (min-width: 499px) {
  nav li {
    margin-left: 1rem;
  }
}

nav a {
  text-decoration: none;
  color: #f4f4f4;
}

header {
  padding-top: 5rem;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: 1020px) {
  header .apartment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .apartment .hidem {
  display: none;
}

@media (min-width: 1020px) {
  header .apartment .hidem {
    display: inline-block;
  }
}

header img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1020px) {
  header img {
    display: inline-block;
    width: 30%;
  }
}

header .standout {
  background: #fefdfa;
  border-radius: 10px;
  padding: 14px;
  margin-top: 10%;
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
}

@media (min-width: 499px) {
  header .standout {
    width: 50%;
    margin: 5% auto 0 auto;
  }
}

header .standout p {
  margin: 0;
}

header h2 {
  text-align: center;
  color: #fefdfa;
}

@media (min-width: 499px) {
  header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

header h2 .acc {
  color: #242424;
}

header p {
  text-align: center;
}

/*********** Location ****************************/
@media (min-width: 847px) {
  .location .flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 847px) {
  .location .flex2 aside {
    width: 40%;
    margin: 2rem auto 2rem auto;
    border-radius: 10px;
    background: #fefdfa;
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
  }
}

.location .where {
  position: relative;
  background: transparent;
}

@media (min-width: 847px) {
  .location .where {
    width: 60%;
    border-radius: 10px;
    background: #fefdfa;
    margin: 4rem auto 2rem auto;
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
  }
}

.location .where p {
  z-index: 2;
  opacity: 1;
  padding-bottom: 1rem;
}

.location .wherebg {
  background: #5ab9ea;
  opacity: .4;
  -webkit-clip-path: polygon(0 0, 0% 100%, 62% 100%);
          clip-path: polygon(0 0, 0% 100%, 62% 100%);
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100vw;
}

@media (min-width: 847px) {
  .location .wherebg {
    display: none;
  }
}

.location aside {
  /* background: rgba(66, 166, 121, 0.466); */
  background: #5abaea69;
}

.location aside h3 {
  text-align: center;
  color: #130c06;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.location aside p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 30px 10px;
}

.location .map {
  min-height: 30vh;
}

@media (min-width: 499px) {
  .location .map {
    height: 40vh;
  }
}

.hamOpen {
  display: none;
}

.menuOpen {
  display: block;
  z-index: 3;
}

/***************** DAILY LIFE ******************/
.dailyLife {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
  background: linear-gradient(#f9f9f9, #f2f2f2);
  margin-top: 3rem;
}

.dailyLife article {
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3);
}

.dailyLife article h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #102438;
}

.dailyLife article p {
  padding: 0 10px 35px 10px;
}

@media (min-width: 847px) {
  .dailyLife article {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dailyLife article p {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 847px) {
  .dailyLife article div {
    background: blue;
  }
}

@media (min-width: 847px) {
  .dailyLife .flex3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
}

.dailyLife aside {
  -webkit-box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
          box-shadow: 0 11px 28px rgba(0, 0, 0, 0.3);
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
  background: #fefdfa;
}

.dailyLife aside h3 {
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #3b3ef8;
}

.dailyLife aside p {
  padding: 0px 10px 10px 10px;
}

@media (min-width: 847px) {
  .dailyLife aside {
    width: 40%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1020px) {
  .dailyLife aside {
    width: 32%;
  }
}
/*# sourceMappingURL=style.css.map */